.ui-table-wrapper {
  font-family: Arial, sans-serif;
  color: rgb(90, 90, 90);
  font-size: 62.5%;
}

.ui-table {
  width: 100%;
  border-collapse: collapse;
  font: inherit;
  font-size: 1.2em;
}

.ui-table__actions {
  display: flex;
}

.ui-table__actions-select {
  font-size: 1.6em;
  margin-inline-end: 20em;
}

.ui-table__actions-download {
  font-size: 1.6em;
}

.ui-table__actions td {
  padding-block: 20px;
}

@import "./table-header.css";
@import "./table-body.css";
@import "./table-row.css";